# **SETS**

A Set in Python is used to store a collection of items with the following properties.

- **No duplicate elements**. If try to insert the same item again, it overwrites previous one.
- **An unordered collection**. When we access all items, they are accessed without any specific order and we cannot access items using indexes as we do in lists.
- **Internally use hashing** that makes set efficient for search, insert and delete operations. It gives a major advantage over a list for problems with these operations.
- **Mutable**, meaning we can add or remove elements after their creation, the individual elements within the set cannot be changed directly.

In [2]:
a = set((1,2,3,4))
type(a)

set

In [9]:
a = {1,2,3,4,5}
type(a)

set

In [4]:
# typecasting list to set
l = [1,2,3,4,5,6,67,7,7,8,8,89,9]
set(l)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 89}

In [16]:
# Adding element to the set .add()
a.add(7)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [19]:
a[1]

TypeError: 'set' object is not subscriptable

In [17]:
# a set cannot have duplicate values
s = {"Geeks", "for", "Geeks"}
print(s)

{'Geeks', 'for'}

In [20]:
# values of a set cannot be changed
s[1] = "Hello"
print(s)

TypeError: 'set' object does not support item assignment

In [21]:
# can store heterogeneous elements
a = {"string", 23, 23.4, True, 32+4j}
print(a)

{True, 'string', 23.4, 23, (32+4j)}

## Python Frozen Sets
Frozen sets in Python are ***immutable*** objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. It can be done with frozenset() method in Python.

While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

If no parameters are passed, it returns an empty frozenset.

In [22]:
# frozenset()
b = frozenset((1,2,3,4,5))
print(b)

frozenset({1, 2, 3, 4, 5})

In [25]:
frozenset(l)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 89})

In [23]:
b.add(6)
print(b)

AttributeError: 'frozenset' object has no attribute 'add'

In [27]:
a.remove(True)

In [28]:
a

{(32+4j), 23, 23.4, 'string'}

In [29]:
a.pop()
print(a)

{23.4, 23, (32+4j)}

## Internal working of Set
This is based on a data structure known as a hash table.  If Multiple values are present at the same index position, then the value is appended to that index position, to form a Linked List.

![image.png]()

## Methods for Sets

In [31]:
# add values
m = set(l)
type(m)

set

In [33]:
m

{1, 2, 3, 4, 5, 6, 7, 8, 9, 67, 89}

In [38]:
m.add(False)
print(m)

{False, 1, 2, 3, 4, 5, 6, 67, 7, 8, 9, (23+4j), 'catherine', 89, 90}

In [39]:
# loop through set
for i in m:
  print(i)

False
1
2
3
4
5
6
67
7
8
9
(23+4j)
catherine
89
90

### Union operation on Python Sets
Two sets can be merged using union() function or | operator. Both Hash Table values are accessed and traversed with merge operation perform on them to combine the elements, at the same time duplicates are removed.

In [40]:
a = {1,2,3,4,5,6,7,8}
b = {5,6,7,8,9,10,11,12}

In [41]:
# Union using union() or |
# print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### Intersection operation on Python Sets
This can be done through intersection() or & operator. Common Elements are selected.

In [43]:
# # Intersection using intersection() function or &
# print(a.intersection(b))
print(a & b)

{8, 5, 6, 7}

### Finding Differences of Sets in Python
To find differences between sets. Similar to finding differences in the linked list. This is done through difference() or  operator

In [44]:
a - b

{1, 2, 3, 4}

In [45]:
b - a

{9, 10, 11, 12}

# **Tuples**

Python Tuple is a collection of objects separated by commas. A tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is **immutable**, unlike the Python list which is mutable.

In [46]:
type((1,2,3))

tuple

In [48]:
a = (1,2,3,4,3,4,6,7,9,1,2,3)

In [47]:
# Note : In case of list, we use square
# brackets []. Here we use round brackets ()
t = (10, 20, 30)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [50]:
print(a)

(1, 2, 3, 4, 3, 4, 6, 7, 9, 1, 2, 3)

In [53]:
# tuples are indexed
a[0:4]

(1, 2, 3, 4)

In [54]:
# tuples contain duplicate elements
(11,11,2,3,3,4,4)

(11, 11, 2, 3, 3, 4, 4)

In [60]:
# updating an element -- gives error
a[-5] = 6

TypeError: 'tuple' object does not support item assignment

In [62]:
# Accessing Values in Python Tuples - just like list
a[0:6]

(1, 2, 3, 4, 3, 4)

## Tuple operations

In [63]:
# Traversing Items of Python Tuples - loops
for i in a:
  print(i)

1
2
3
4
3
4
6
7
9
1
2
3

In [67]:
# Concatenation of Python Tuples using + operator
a = (1,2,3)
b = (4,5,6)
print(id(a))
print(id(b))
print(id(a+b))

137558573076224
137558163604672
137558164955360

In [72]:
c = ("string" , True , 123)
a + c

(1, 2, 3, 'string', True, 123)

In [74]:
# Nesting of Python Tuples - tuple inside tuple
d = (1,2,3,(2,3,4,(5,6,7)))
print(d)

(1, 2, 3, (2, 3, 4, (5, 6, 7)))

In [75]:
# Repetition Python Tuples
# We can create a tuple of multiple same elements from a single element in that tuple.
t = ('python',)*3
print(t)

('python', 'python', 'python')

In [ ]:
# Slicing Tuples in Python

In [77]:
# Code for deleting a tuple - del command
del a
print(a)

NameError: name 'a' is not defined

In [88]:
# Length of a Python Tuple
# len(d)
# len(d[3])
d[3][3]

(5, 6, 7)

In [90]:
# Multiple Data Types With Tuple
t = (12,12.4,True,23+1j,"strings")
print(t)

(12, 12.4, True, (23+1j), 'strings')

In [93]:
# Converting a List to a Tuple
tuple(m)

(False, 1, 2, 3, 4, 5, 6, 67, 7, 8, 9, (23+4j), 'catherine', 89, 90)

In [99]:
# Single Element Tuple
t = (10, ) # Comma is important here
print(t)  # Output: (10,)
print(type(t))

# What if we do not use comma
t = (10) # This an integer (not a tuple)
print(t)
print(type(t))

(10,)
<class 'tuple'>
10
<class 'int'>

In [ ]:
# Tuple Packing
a, b, c = 11, 12, 13
t = (a, b, c)
print(t)

In [95]:
type((1,))

tuple

In [98]:
type((12233,))

tuple

In [105]:
a , b , c = 11 ,12, 13
print(a,b,c)

11 12 13

In [101]:
(a,b,c) = (12,13,14)