# **Python Classes/Objects**

Python is an **object oriented programming language**.

Almost **everything in Python is an object**, with its properties and methods.

A **Class is like an object constructor**, or a "blueprint" for creating objects.

In [2]:
# Create a Class
class Myclass:
  x = "tejas"

In [3]:
# Create Object
obj_1 = Myclass()

In [5]:
id(Myclass)

49659728

In [4]:
id(obj_1)

138808177883920

In [6]:
obj_1.x

'tejas'

In [7]:
Myclass.x

'tejas'

**The __init__() Function**

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [17]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name},{self.age}"

In [18]:
obj_2 = Person("tejas",40)

In [19]:
obj_2.age

40

In [20]:
obj_2.name

'tejas'

In [21]:
obj_3 = Person("catherine", 40)
obj_4 = Person("muthu", 36)

In [22]:
obj_3.age

40

In [23]:
obj_4.name

'muthu'

**Note: The __init__() function is called automatically every time the class is being used to create a new object.**

**The __str__() Function**:
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

In [24]:
print(obj_4)

muthu,36

In [25]:
print(obj_3)

catherine,40

In [26]:
print(obj_2)

tejas,40

**Object Methods**:
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [35]:
class Calculator:
  def __init__(self):
    pass

  def add(self,a,b):
    return a+b

  def subtract(self,a,b):
    return a-b

  def multiply(self,a,b):
    return a*b

In [36]:
obj_5 = Calculator()

In [37]:
obj_5.add(5,6)

11

In [30]:
obj_5.subtract(5,6)

-1

In [31]:
obj_5.multiply(5,6)

30

**Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.**

In [39]:
obj_4.age = 50

In [42]:
obj_3.age = 100

In [41]:
obj_4.age

50

In [43]:
obj_3.age

100

**Modify Object Properties**

In [ ]:
# modify age

**Delete Object Properties:**
You can delete properties on objects by using the del keyword:

In [45]:
del obj_4.age

In [46]:
obj_4.age

AttributeError: 'Person' object has no attribute 'age'

In [48]:
obj_4.name

'muthu'

**Delete Objects**

**The pass Statement**

In [ ]:
# 1. Create a bank class
# 2. Name and password should be passed into the constructor
# 3. Create a new attribute called money inside the constructor and assign it with 0
# 4. Create a method called add money
# 5. Money should be added only when name and password match the originals
# 6. Create a string method which called shows the bank balance

In [56]:
class Hdfcbank:
  def __init__(self,name,password):
    self.name = name
    self.password = password
    self.money = 0

  def add_money(self, money):
    name = input("Enter your name: ")
    password = input("Enter your password: ")
    if name == self.name and password == self.password:
      self.money = self.money + money

  def __str__(self):
    return f"Your balance is {self.money}"

In [57]:
obj_6 = Hdfcbank("tej","123")

In [58]:
obj_6.money

0

In [60]:
obj_6.add_money(1000)

Enter your name: tej
Enter your password: 123

In [61]:
print(obj_6)

Your balance is 1000