In [3]:
gross_salary = int(input("Enter your gross salary"))
tax = 0
if gross_salary < 500000:
  print("No tax")
elif gross_salary > 500000 and gross_salary < 1000000:
  tax = 0.1
elif gross_salary > 1000000 and gross_salary < 2000000:
  tax = 0.2
else:
  tax = 0.3
take_home_salary = gross_salary - (tax*gross_salary)
print("Take home salary is: ", int(take_home_salary))

Enter your gross salary3000000
Take home salary is:  2100000.0

# Loops
1. for loops
2. nested loops
3. while loops
4. loop conditions

## For loop

In [5]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for num in l:
  print(num)

1
2
3
4
5
6
7
8
9

In [8]:
for num in l:
  if num%2==0:
    print(num)

2
4
6
8

In [9]:
for string in "Tejas":
  print(string)

T
e
j
a
s

In [12]:
l = ["apple","orange","banana", "mango"]
for i in l:
  print(i)
  if i == "apple":
    print("Found apple")

apple
Found apple
orange
banana
mango

In [20]:
# Fizzbuzz
# list has elements from 1 to 100
# if a number is divisible by 3 print Fizz
# if a number is divisible by 5 print Buzz
# if a number is divisible by 3 and 5 print FizzBuzz

l = [i for i in range(101)]
for i in l:
  if (i%3==0) and (i%5==0):
    print("FizzBuzz")
  elif i%5==0:
    print("Buzz")
  elif i%3==0:
    print("Fizz")
  else:
    print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [23]:
# loop control
# break, continue , pass

for i in l:
  pass

In [26]:
# break
for i in l:
  if i==50:
    print(i)
    break
  if i==49:
    print(i)

49
50

In [27]:
l = [1,2,3,4,5,6,7,8,9,10]

for i in l:
  if i%3==0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10

## Nested loop

In [28]:
l= [1,2,3,4,5,6,7,8,9,10]
m = ["a","b","c"]
for num in l:
  for letter in m:
    print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c
6 a
6 b
6 c
7 a
7 b
7 c
8 a
8 b
8 c
9 a
9 b
9 c
10 a
10 b
10 c

In [39]:
a = """ Catherine went to chruch and it was raning heavily
so catherine was late to class and the class had already started
"""
l = a.split()
for i in l:
  for j in i:
    if j=="c" or j=="t":
      print(i)
      break

Catherine
went
to
chruch
it
catherine
late
to
class
the
class
started

In [33]:
"catherine" == "c"

False