# Operators in Python
1. Arithmetic Operators
1. Relational Operators
1. Logical Operators
1. Bitwise Operators
1. Assignment Operators
1. Membership Operators

In [ ]:
# arthimetic operations

print(5+6)

print(5-6)

print(5*6)

print(5/6)

# floor division
print(5//6)

# remainder
print(5%2)

# exponential
print(5**2)

11
-1
30
0.8333333333333334
0
1

In [ ]:
# Relational operators
print(5>6)
print(6>5)
print(5>=6)
print(6<=5)
print(4==4) # equal to
print(4!=4) # not equal to

False
True
False
False
True
False

R langauge
a<-c(1,2,3)
Python
a = [1,2,3]

In [ ]:
# Logical Operators
# and or not
# print(0 and 1)
# print(1 and 1)
# print(2 and 1)
# print(123 and 456)
# print(1 or 0)
# print(not 0)

True

In [ ]:
# Bitwise Operators

print(2 & 3)

print(2 | 3)

print(~3)

2
3
-4

In [ ]:
# Assignment Operators

a = 2

print(a)

a +=2 # a = a + 2

print(a)

a %= 2 # a = a % 2
print(a)

2
4
0

In [ ]:
# Membership Operators
# in not in
print('C' in "Catherine")

print('t' in "Tejas")

print('t' not in 'Tejas')

True
False
True

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

a = int(input("Enter a 3 digit number:"))

last_num = a%10

remaning_num_1 = a//10

second_num = remaning_num_1%10

first_num = remaning_num_1//10

print(first_num + second_num + last_num)

Enter a 3 digit number:456
15

# If-else in Python

In [ ]:
a = int(input("Enter a number: "))

if a%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 48
Even

In [ ]:
a = int(input("Enter a number: "))

if a > 100:
  print("more than 100")
elif a > 0  and a < 100:
  print("Num between 0 and 100")
else:
  print("less than or equal to 0")

Enter a number: -1
less than or equal to 0

# atm machine

In [ ]:
print("""Welcome to Indian Bank ATM
Hello,
Hope your good
press 1 to check balance
press 2 to reset password
press 3 to exit
""")

a = int(input("Please center your choice: "))

if a==1:
  print("Check balance")
elif a==2:
  print("Enter new passowrd")
else:
  print("Exiting")

Welcome to Indian Bank ATM
Hello,
Hope your good
press 1 to check balance
press 2 to reset password
press 3 to exit

Please center your choice: 0
Exiting

# module

In [ ]:
# Module
import math

In [ ]:
math.log(10)

2.302585092994046